html {
	color-scheme: light dark;
}

body {
	color: var(--color-text);
	background-color: var(--background);
	padding: 0;
}

a {
	color: var(--link-color);

	& svg {
		margin-bottom: -7px;
		max-width: 1.5em;
	}

	&.invalid {
		color: var(--link-color-invalid) !important;
		text-decoration: line-through;
	}
}

a[href]:not(:where(
	/* Exclude relative and hash only links */
	[href^="/"]:not([href^="//"]), [href^="#"]
)) {
	&:after {
		content: '⎇';
	}
}

pre {
	padding: var(--spacing-2);
	background: var(--background-dark);
	white-space: pre-wrap;
	word-break: break-all;
}

hr {
	background: var(--background-dark);
	border: none;
	height: 2px;
	margin: var(--spacing-3) 0;
}

ul.unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
}

header, footer, section {
	display: block;
}

#content {
	& section + section {
		margin-top: var(--spacing-3);
	}
}

.error-container {
	padding: var(--spacing-12);
	background: var(--primary);
	margin: var(--spacing-3);

	& h1 {
		font-weight: bold;
	}

	& pre {
		color: var(--gray-300);
		background: var(--gray-900);
	}
}