form {
	& fieldset {
	  background: var(--background-dark);
	  border: none;
	  margin-bottom: var(--spacing-2);
	  display: flex;
	  flex-direction: column;
	  padding: 0;

	  & label {
	  	padding: var(--spacing-2);
	  	background: var(--background);
	  }

	  & .invalid-feedback {
	  	background: var(--rose-500);
	  	color: var(--gray-100);
	  	padding: var(--spacing-1) var(--spacing-3);
	  }
	}

	input,
	select,
	textarea {
		color: var(--color-text);
		padding: var(--spacing-2);
		border: var(--border);

		&:focus {
			outline: 1px solid var(--primary);
		}
	}

	textarea {
		font-family: var(--font-code);
		font-feature-settings: var(--font-code-features);
		resize: vertical;
	}

	& details:not(:last-child) {
		padding: var(--spacing-1);
		background: var(--gray-300);
		margin-bottom: var(--spacing-3);
	}
}