.flex {
	display: flex;
}

.flex-1 {
	flex: 1 0;
}

.gap {
	gap: var(--spacing-3);
}

.flex-col {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-responsive {
	flex-direction: column;

	@media (--based) {
		flex-direction: row;
	}
}