.markdown, .html {
	--flow-space: var(--spacing-3);

	& code.inline {
		background: var(--background-dark);
		padding: 1px 2px;
	}

	& .footnotes {
		& p {
			display: inline;
		}
	}

	kbd {
		background: var(--background-dark);
		padding: 2px;
		border: var(--border);
		border-radius: 2px;
	}

	blockquote {
		border-left: 3px solid var(--primary);
		padding: var(--spacing-3);
		background: var(--background-dark);
		font-size: 115%;

		& p:first-of-type::before {
			content: "“";
		}

		& p:last-of-type::after {
			content: "”";
		}

		&.info, &.warn, &.danger {
			& p:first-of-type::before { content: ""; }
			& p:first-of-type::after { content: ""; }
		}

		&.info {
		  background: var(--sky-200);
		  color: var(--sky-800);
		  border-left: 3px solid var(--sky-900);

		  & a {
		  	color: var(--sky-800);
		  }
		}

		&.warn {
		  background: var(--amber-200);
		  color: var(--amber-800);
		  border-left: 3px solid var(--amber-900);

		  & a {
		  	color: var(--amber-800);
		  }
		}

		&.danger {
		  background: var(--rose-200);
		  color: var(--rose-800);
		  border-left: 3px solid var(--rose-900);

		  & a {
		  	color: var(--rose-800);
		  }
		}
	}
}