html { 
  font-family: var(--font-base); 
  font-size: var(--font-size);
  letter-spacing: 0.25px;
}

h1, h2, h3, .h1, .h2, .h3, .heading {
  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--color-heading);

  & a {
    text-decoration: none;
    color: var(--color-heading);
  }
}

.text-xxxl {
  font-size: var(--text-xxxl);
}

.h1, .text-xxl {
	font-size: var(--text-xxl);
}

.h2, .text-xl {
  font-size: var(--text-xl);
}

.h3, .text-lg {
  font-size: var(--text-lg);
}

.text-md {
  font-size: var(--text-md);
}

.text-base {
  font-size: var(--font-size);
}

.text-sm, small {
  font-size: var(--text-sm);
}

.text-xs {
  font-size: var(--text-xs);
}

pre, code {
  font-family: var(--font-code);
}

input,
label,
select,
button,
textarea {
  font-size: 1rem;
  font-family: var(--font-base);
}