:root[data-theme="dark"] {
	--background: var(--gray-800);
	--background-dark: var(--gray-700);
	--background-light: var(--gray-800);

	--primary: var(--emerald-500);
	--primary-dark: var(--emerald-200);
	--primary-light: var(--emerald-800);

	--link-color: var(--gray-300);
	--link-color-invalid: var(--rose-700);

	--color-header-bg: var(--background);
	--color-header-text: var(--gray-200);

	--color-alert-bg: var(--background-dark);
	--footer-bg-color: var(--background);

	--color-heading: var(--gray-400);
	--color-text: var(--gray-200);
	--color-text-muted: var(--gray-200);
	--color-nav-toggle: var(--primary);

	--color-nav-bg: var(--background-dark);
	--color-nav-link: var(--primary);

	--color-pagination-bg: var(--gray-200);
	--color-pagination-bg-hover: var(--gray-300);

	--color-button-text: var(--color-text);
	--color-button-bg: var(--background);
	--color-button-bg-hover: var(--background-dark);
	--color-button-bg-success: var(--emerald-500);
	--color-button-text-success: var(--gray-50);

	--color-border: var(--gray-600);
	--color-border-dark: var(--gray-500);

	--ll-nam: var(--gray-300);
	--ll-num: var(--gray-400);
	--ll-str: var(--gray-500);
	--ll-rex: var(--gray-500);
	--ll-pct: var(--gray-100);
	--ll-key: var(--gray-200);
	--ll-com: var(--gray-500);
}
