<section class="gallery">

	<%= for note <- @notes do %>

		<article class="gallery-item">
			<header>
				<h2 class="text-md">
					<%= link note.title, to: Routes.note_path(@conn, :show, note) %>
				</h2>
			</header>

			<%= for image <- featured_images(note) do %>
				<img src={image_link(image, :full)} alt={image.title}>
			<% end %>
					
		</article>

	<% end %>

</section>