:root {
	/* Layout*/
	--container-width: 65rem;

	/* Fonts */
	--font-base: Iowan Old Style, Apple Garamond, Baskerville, Georgia, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--font-heading: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; 
	--font-code: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; 

	/* Extra */
	--transition: all 150ms ease-out;
	--border: 1px solid var(--color-border);
	--border-dark: 1px solid var(--color-border-dark);
}