<%= if @current_user do %>
<section id="admin-menu" class="pure-menu pure-menu-horizontal pure-menu-scrollable">
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <%= link to: Routes.admin_admin_path(@conn, :index), class: "pure-menu-link" do %>
        <%= render MirageWeb.SharedView, "icon/admin.html", assigns %>
        <span>Admin</span>
      <% end %>
    </li>
    <li class="pure-menu-item">
      <%= link to: Routes.user_settings_path(@conn, :edit), class: "pure-menu-link" do %>
        <%= render MirageWeb.SharedView, "icon/user.html", assigns %>
        <span>User</span>
      <% end %>
    </li>
    <li class="pure-menu-item">
      <%= link to: Routes.admin_setting_path(@conn, :index), class: "pure-menu-link" do %>
        <%= render MirageWeb.SharedView, "icon/settings.html", assigns %>
        <span>Settings</span>
      <% end %>
    </li>
    <li class="pure-menu-item">
      <%= link to: Routes.live_dashboard_path(@conn, :home), class: "pure-menu-link" do %>
        <%= render MirageWeb.SharedView, "icon/uploads.html", assigns %>
        <span>Dashboard</span>
      <% end %>
    </li>
  </ul>
</section>
<% end %>