<div id="alerts" class="container">
	<p class="alert info" role="alert"><%= get_flash(@conn, :info) %></p>
	<p class="alert error" role="alert"><%= get_flash(@conn, :error) %></p>
</div>

<main id="content" role="main" class="container wide">
  <div class="content-wrapper">
    <%= @inner_content %>
  </div>
</main>