/*
	This stylesheet uses:

	- A modern reset by Andy (https://piccalil.li/blog/a-modern-css-reset/)
	- The 7-1 Pattern by Sass Guidelines (https://sass-guidelin.es/#architecture)
	- The CUBE CSS Methodology (https://cube.fyi)
	- A spacing/size scale from Tailwind (https://tailwindcss.com/docs/width)
	- Colors from 100Rabbits (https://github.com/hundredrabbits/Themes/blob/master/themes/pico8.svg)

	More Reading:

	- https://piccalil.li/blog/i-used-tailwind-for-the-u-in-cube-css-and-i-liked-it/
*/

@custom-media --smol (min-width: 640px);
@custom-media --based (min-width: 768px);
@custom-media --biig (min-width: 1024px);


@import "abstracts/colors";
@import "abstracts/spacing";
@import "abstracts/text-scale";

@import "themes/light";
@import "themes/dark";

@import "abstracts/variables";

@import "base/reset";
@import "base/form-reset";
@import "base/form";
@import "base/base";
@import "base/layout";
@import "base/helpers";
@import "base/markdown";
@import "base/typography";

@import "layout/content";
@import "layout/footer";
@import "layout/header";
@import "layout/container";
@import "layout/sidebar";
@import "layout/page";

@import "components/alert";
@import "components/article";
@import "components/author-card";
@import "components/button";
@import "components/divider";
@import "components/grow-wrap";
@import "components/list-filter";
@import "components/note";
@import "components/note-list";
@import "components/page-wrapper";
@import "components/pagination";
@import "components/table";
@import "components/tabs";
@import "components/tag";
@import "components/gallery";
@import "components/admin-menu";

@import "vendor/lolight";
@import "vendor/pure-menu";
@import "vendor/tagger";

@import "pages/admin-index";

@import "shame";
