.alert {
	color: var(--color-text-muted);
	padding: var(--spacing-3);
	background: var(--color-alert-bg);
	border-bottom: 3px solid var(--primary);
	margin-top: var(--spacing-6);

	&:empty {
		display: none;
		padding: 0;
	}
}