article.note, article.bookmark, article.article {
	.meta {
		display: flex;
		flex-wrap: wrap;
		gap: var(--spacing-1);
	}

	footer {
		font-family: var(--font-heading);
		margin-top: var(--spacing-3);
	}

	img {
		border: var(--border);
	}
}