.author-card {
	--avatar-size: var(--spacing-32);

	&.small {
		--avatar-size: var(--spacing-20);
	}

	display: flex;
	gap: var(--spacing-6);
	flex-direction: column;
	align-items: center;

	@media(--based) {
		flex-direction: row;
	}

	@media(--biig) {
		flex-direction: column;
	}

	& img {
		width: var(--avatar-size);
		height: var(--avatar-size);
		border-radius: var(--avatar-size);
		outline: 2px solid var(--background-dark);
	}
}