.button, button {
	font-family: var(--font-heading);
	color: var(--color-button-text);
	display: inline-block;
	padding: var(--spacing-2);
	background: var(--color-button-bg);
	text-decoration: none;
	border: var(--border-dark);
	cursor: pointer;

	&.success, &[type=submit] {
		border-color: var(--primary);
	}
}

.buttons {
	display: flex;
	gap: var(--spacing-1);

	&:not(:first-child) {
		margin-top: var(--spacing-3);
	}
}