hr.divider {
	color: transparent;
	border-top: var(--border);
	height: 1px;
	margin: var(--spacing-6) 0;

	&:after {
		color: var(--color-border);

		content: "⁙";
		display: inline-block;
		position: relative;
		top: -0.9rem;
		left: calc(50% - 0.5rem);
		font-size: 1rem;
		padding: 0 0.25em;
		background: var(--background);
	}

	/* Hide after last list element */
	&:last-of-type:last-child {
		display: none;
	}
}