.gallery {
	display: flex;
	gap: var(--spacing-3);
	flex-wrap: wrap;

	& .gallery-item {
		flex: 1 0 0;
		min-width: 100%;

		@media (--smol) {
			min-width: 40%;
		}

		@media (--based) {
			min-width: 30%;
		}
	}
}