.pagination {
	display: flex;
	list-style: none;
	padding: 0;
	gap: var(--spacing-3);
	justify-content: space-between;

	& li > a, 
	& li > span {
		background: var(--background-dark);
		display: inline-block;
		padding: var(--spacing-2) var(--spacing-4);
		text-decoration: none;
		text-align: center;
	}

	@media (--smol) {
		justify-content: center;
	}
}