table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table tr {
	border-bottom: var(--border);
}

th, td {
	padding: var(--spacing-2);
}

@media only screen and (max-width: 786px) {
	th, td {
		margin: 0;
		vertical-align: top;
		padding: var(--spacing-1);
	}
	th {
		text-align: left;
	}
	table {
		display: block;
		position: relative;
		width: 100%;
	}
	thead {
		display: block;
		float: left;
	}
	tbody {
		display: block;
		width: auto;
		position: relative;
		overflow-x: auto;
		white-space: nowrap;
	}
	thead tr {
		display: block;
	}
	th {
		display: block;
		text-align: right;
	}
	tbody tr {
		display: inline-block;
		vertical-align: top;
	}
	td {
		display: block;
		min-height: 1.25em;
		text-align: left;
	}
	/* sort out borders */
	th {
		border-bottom: 0;
		border-left: 0;
	}
	td {
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
	}
	tbody tr {
		border-left: var(--border);
		padding: 0 var(--spacing-1);
	}
	th:last-child, td:last-child {
		border-bottom: var(--border);
	}
}
 