.tab-group {
	list-style: none;
	margin: 0;
	padding: 0;

	&:after {
		visibility: hidden;
		display: block; font-size: 0;
		content: '';
		clear: both;
		height: 0;
	}

	& li {
		display: inline;

		& a {
			float: left; 
			display: block;
			padding: var(--spacing-1) var(--spacing-3);
			margin-left: -1px;
			position: relative;
			left: 1px;
			text-decoration: none;

			border: var(--border);

			&:hover {
				color: var(--gray-50);
				background: var(--primary);
			}
		}
	}
}

.tab-container {
	position: relative;
	min-height: 500px;

	&> div {
		background: var(--background-dark);
		padding: 20px;
		min-height: 250px; 
		position: absolute; 
		top: -1px; 
		left: 0; 
		width: 100%;
		border: var(--border);

		&:not(:target) {
			display: none;
		}
	}
}