<svg version="1.1" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <g>
  <path d="m331.34 466.5c-94.32-9.4062-168-89.305-168-186.5 0-97.215 73.68-177.09 168-186.5v-37.496c-114.95 9.5312-205.34 106.11-205.34 224s90.383 214.47 205.34 224z"/>
  <path d="m368.66 56v37.496c94.359 9.3867 168 89.281 168 186.5 0 97.195-73.641 177.09-168 186.5v37.496c114.97-9.5312 205.34-106.11 205.34-224s-90.363-214.47-205.34-224z"/>
  <path d="m460.32 298.66c-8.8945 52.938-54.828 93.336-110.32 93.336s-101.43-40.398-110.32-93.336h-37.715c9.1992 73.645 71.91 130.67 148.04 130.67 76.164 0 138.85-57.023 148.04-130.67z"/>
  <path d="m239.68 261.34c8.8945-52.961 54.828-93.336 110.32-93.336s101.43 40.375 110.32 93.336h37.715c-9.1836-73.645-71.871-130.67-148.04-130.67-76.125 0-138.84 57.023-148.04 130.67z"/>
  <path d="m424.66 280c0 41.234-33.43 74.664-74.664 74.664s-74.664-33.43-74.664-74.664 33.43-74.664 74.664-74.664 74.664 33.43 74.664 74.664"/>
 </g>
</svg>
