<svg version="1.1" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <g>
  <path d="m210 307.98c-2.1914 0-4.2266 0.46875-6.3828 0.63281 0.58203-38.613 16.078-73.535 40.98-99.383-6.6406-11.648-11.395-24.484-13.875-38.121-39.469 33.707-64.547 83.727-64.547 139.73 0 3.2266 0.29297 6.3633 0.46875 9.5312-24.254 14.738-40.645 41.152-40.645 71.629 0 46.391 37.609 83.984 84 84 46.414 0 84-37.609 84-84 0.015625-46.43-37.609-84-84-84.016z"/>
  <path d="m433.86 147.89c-0.78516-45.734-37.934-82.555-83.855-82.555-46.414 0-84 37.586-84 84 0 46.406 37.586 84.016 84 84.016 33.32 0 61.836-19.539 75.414-47.633 31.227 18.922 54.852 49.039 65.133 84.969 14.125 0.054688 27.637 2.6602 40.234 7.1797-10.336-56.945-47.109-104.3-96.926-129.98z"/>
  <path d="m489.98 307.98c-46.398 0.015625-83.984 37.602-84 84.016 0 17.355 5.2656 33.48 14.293 46.883-20.887 11.523-44.695 18.453-70.273 18.453-12.156 0-23.918-1.6406-35.219-4.4531-6.875 11.793-15.641 22.309-25.922 31.152 19.137 6.7695 39.66 10.629 61.137 10.629 36.734 0 70.875-10.879 99.566-29.457 12.035 6.6758 25.668 10.793 40.418 10.793 46.406 0 84.016-37.609 84.016-84 0-46.414-37.609-84-84.016-84.016z"/>
  <path d="m396.66 310.84c0 25.777-20.887 46.664-46.664 46.664s-46.664-20.887-46.664-46.664c0-25.793 20.887-46.664 46.664-46.664s46.664 20.867 46.664 46.664z"/>
 </g>
</svg>