<.form let={f} for={@changeset} action={@action} multipart={true}>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :title %>
  <%= text_input f, :title %>
  <%= error_tag f, :title %>

  <%= label f, :image_filename %>
  <%= file_input f, :image_filename %>
  <%= error_tag f, :image_filename %>

  <div>
    <%= submit "Save" %>
  </div>
</.form>
