#content {
	--flow-space: var(--spacing-16);
	padding: var(--spacing-3); 

	display: grid;
	grid-template-columns: minmax(0, 1fr);
	gap: var(--spacing-3);

	@media (--smol) {
		padding: var(--spacing-16) var(--spacing-3); 

		/* Content and sidebar spacing */
		grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
		gap: var(--spacing-3);
	}

	& .content-wrapper {
		& .title {
		  margin-bottom: var(--spacing-3);

		  @media (--smol) {
		    display: none;
		  }
		}
	}

	&.wide {
		display: block;
	}
}
