#header {
	padding: var(--spacing-6) 0;
	background: var(--color-header-bg);
	border-bottom: var(--border);

	h1.site-title {
		text-align: center;

		& a {
			color: var(--color-header-text);
			display: inline-block;
			text-align: center;
			font-weight: 700;
			font-size: var(--text-xl);
			line-height: var(--text-lg);
		}
	}

	h2.page-title {
		color: var(--color-header-text);
		text-align: center;
		font-size: var(--text-lg);
		line-height: var(--text-md);
	}
}