.sidebar {
	--flow-space: var(--spacing-6);

	& section {
		margin-bottom: var(--spacing-3);
	}

	/*
	& ul {
		& a {
			text-decoration: none;
			display: inline-block;
			padding: var(--spacing-1) 0;

			& svg {
				fill: var(--color-text);
			}

			& span {
				text-decoration: underline;
			}
		}
	}
	*/
}